{% extends 'admin/layout.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <style>
        .users .actions a {
            padding: 0 5px;
        }
    </style>
    <h1>Liste des utilisateurs</h1>

    <table class="table table-striped users">
        <thead>
            <tr>
                <th style="width: 50px">#</th>
                <th style="width: 100px">UserName</th>
                <th style="width: 50px">Roles</th>
                <th style="width: 50px">Password</th>
                <th style="width: 100px">Email</th>
                <th style="width: 25px">Vérifié</th>
                <th style="width: 150px">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password|truncate(10) }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.isVerified ? '<i class="fa fa-check" style="color: green"></i>' : '<i class="fa fa-times" style="color: red"></i>' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class="btn btn-primary">Ajouter un Utilisateur</a>
{% endblock %}
