{% extends 'front/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="article-list-box">

    {% for category in categories %}
        <a href="{{ path('category_list', { 'id': category.id}) }}" name="{{ category.id }}" class="btn btn-primary">{{ category.name }}</a>
    {% endfor %}
        <a href="{{ path('home') }}" class="btn btn-primary">Tous</a>


    {% for article in articles %}
        {% if article.published %}
            <div>
            <h3>{{ article.title }}</h3>
            <p>Crée le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i:s') }}</p>
            <p>{{ article.content }}</p>
            <a href="{{ path('article_read', {'id': article.id}) }}" class="btn btn-primary">Lire plus</a>
            </div>
        {% endif %}
    {% endfor %}
    {{ knp_pagination_render(articles) }}

</div>
{% endblock %}
