{% extends 'admin/layout.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block content %}

    <h1>Comment index</h1>

    <table class="table table-striped comments">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.username }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d') : '' }}</td>
                <td class="actions">
                    <a href="{{ path('comment_show', {'id': comment.id}) }}" title="Voir"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}" title="Éditer"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_new') }}" class="btn btn-primary">Ajouter un commentaire</a>
{% endblock %}
